{%extends 'base.html'%}{%block content%}

    <div class="jumbotron">
    <header class="bg-primary text-white text-center py-5">
        <h1>Introdução ao CSS e Bootstrap</h1>
    </header>
    <div class="container mt-4">
        <section>
            <h2>O que é CSS?</h2>
            <p>O CSS (Cascading Style Sheets) é uma linguagem de estilo usada para controlar a aparência e o layout de elementos HTML em uma página web. Com CSS, você pode definir cores, fontes, margens, bordas e muito mais.</p>
        </section>
        <section>
            <h2>Como o Bootstrap ajuda com o CSS?</h2>
            <p>O Bootstrap é um framework front-end que fornece um conjunto de estilos CSS pré-projetados e componentes. Ele simplifica o processo de estilização, permitindo que você use classes CSS do Bootstrap em seu HTML para aplicar estilos prontos.</p>
        </section>
        <section>
            <h2>Exemplo de Uso do CSS do Bootstrap</h2>
            <p>Aqui está um exemplo de um botão estilizado com o CSS do Bootstrap:</p>
            <button class="btn btn-primary">Clique em Mim</button>
        </section>
    </div>
    </div>
{%endblock%}