{%extends 'base.html'%}{%block content%}

<div class="jumbotron">
  <h1 class="display-4">HTML</h1>
     <header class="bg-primary text-white text-center py-5">
        <h1>Introdução ao HTML e Bootstrap</h1>
    </header>
    <div class="container mt-4">
        <section>
            <h2>O que é HTML?</h2>
            <p>O HTML (Hypertext Markup Language) é a linguagem de marcação padrão usada para criar páginas da web. Ele define a estrutura e o conteúdo de uma página web, usando elementos como cabeçalho, parágrafos, imagens e links.</p>
        </section>
        <section>
            <h2>Como o Bootstrap ajuda?</h2>
            <p>O Bootstrap é um framework front-end que fornece um conjunto de estilos CSS e componentes JavaScript pré-projetados. Isso facilita a criação de layouts responsivos e atraentes, além de economizar tempo no desenvolvimento.</p>
        </section>
        <section>
            <h2>Exemplo de Uso</h2>
            <p>Aqui está um exemplo de um botão criado com Bootstrap:</p>
            <button class="btn btn-primary">Clique em Mim</button>
        </section>
    </div>
    <!-- Inclua o JavaScript do Bootstrap (opcional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

{%endblock%}