{% extends 'base.html'%}{%block content%}
<div class="jumbotron">
      <header class="bg-primary text-white text-center">
        <h1>Desenvolvimento Web com Bootstrap</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#o-que-e-desenvolvimento-web">O que é Desenvolvimento Web?</a></li>
            <li class="nav-item"><a class="nav-link" href="#linguagens-e-tecnologias">Linguagens e Tecnologias</a></li>
            <li class="nav-item"><a class="nav-link" href="#ferramentas">Ferramentas</a></li>
        </ul>
    </nav>
    <main class="container mt-4">
        <section id="o-que-e-desenvolvimento-web">
            <h2>O que é Desenvolvimento Web?</h2>
            <p>O desenvolvimento web é o processo de criação de sites e aplicativos web que são acessíveis através da internet. Envolve a criação de conteúdo, design, programação e implementação de funcionalidades interativas.</p>
        </section>
        <section id="linguagens-e-tecnologias">
            <h2>Linguagens e Tecnologias</h2>
            <p>No desenvolvimento web, são utilizadas diversas linguagens de marcação, como HTML, linguagens de estilo como CSS, e linguagens de programação, como JavaScript. Além disso, frameworks e bibliotecas como React, Angular e Vue.js são comumente usados para o desenvolvimento de aplicações web interativas.</p>
        </section>
        <section id="ferramentas">
            <h2>Ferramentas</h2>
            <p>Desenvolvedores web usam uma variedade de ferramentas, incluindo editores de código como Visual Studio Code e Sublime Text, sistemas de controle de versão como Git, e servidores web como Apache e Nginx para hospedar seus projetos.</p>
        </section>
    </main>

</div>
{%endblock%}