{%extends 'base.html'%}{%block content%}

<div class="jumbotron">
  <h1 class="display-4">W3C</h1>
<body>
    <header>
        <h1>Sobre a W3C</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#w3c-missao">Missão</a></li>
            <li><a href="#w3c-padroes">Padrões Web</a></li>
            <li><a href="#w3c-acessibilidade">Acessibilidade</a></li>
        </ul>
    </nav>
    <main>
        <section id="w3c-missao">
            <h2>Missão da W3C</h2>
            <p>A World Wide Web Consortium (W3C) é uma comunidade internacional que desenvolve e mantém padrões e diretrizes para a World Wide Web. Seu objetivo é garantir o crescimento a longo prazo e a interoperabilidade da Web.</p>
        </section>
        <section id="w3c-padroes">
            <h2>Padrões Web</h2>
            <p>Um dos aspectos-chave do trabalho da W3C é definir e publicar especificações técnicas e padrões para várias tecnologias web. Esses padrões ajudam a garantir que o conteúdo e as aplicações web funcionem consistentemente em diferentes navegadores e plataformas. Exemplos proeminentes de padrões da W3C incluem HTML, CSS e o Document Object Model (DOM).</p>
        </section>
        <section id="w3c-acessibilidade">
            <h2>Acessibilidade</h2>
            <p>A W3C coloca um forte foco na acessibilidade na web, com o objetivo de tornar a web utilizável por todas as pessoas, incluindo aquelas com deficiências. As Diretrizes de Acessibilidade para Conteúdo Web (WCAG) são um conjunto de diretrizes desenvolvidas pela W3C para promover a acessibilidade na web.</p>
        </section>
    </main>
</body>

{%endblock%}